In [5]:
import pandas as pd
import numpy as np

obj = pd.Series(data = np.arange(5), index=["a","b","c","d","e"])

obj

a    0
b    1
c    2
d    3
e    4
dtype: int32

In [6]:
obj['c']

2

In [14]:
obj[2]

2

In [15]:
obj[0:3]

a    0
b    1
c    2
dtype: int32

In [16]:
obj['a':'c']

a    0
b    1
c    2
dtype: int32

In [21]:
obj[['a', 'b', 'c']]

a    0
b    1
c    2
dtype: int32

In [25]:
obj[[0, 1, 2]]

a    0
b    1
c    2
dtype: int32

In [26]:
obj

a    0
b    1
c    2
d    3
e    4
dtype: int32

In [27]:
obj[obj<2]

a    0
b    1
dtype: int32

In [28]:
obj<2

a     True
b     True
c    False
d    False
e    False
dtype: bool

In [29]:
obj

a    0
b    1
c    2
d    3
e    4
dtype: int32

In [30]:
obj['b':'c']

b    1
c    2
dtype: int32

In [32]:
obj['b':'c'] = 5

In [33]:
obj

a    0
b    5
c    5
d    3
e    4
dtype: int32

In [35]:
df = pd.DataFrame(data = np.arange(16).reshape(4, 4))
df

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [37]:
df = pd.DataFrame(data = np.arange(16).reshape(4, 4), 
                  columns=["one","two","three","four"], 
                  index=["London","Paris","Berlin","Istanbul"])
df

          one  two  three  four
London      0    1      2     3
Paris       4    5      6     7
Berlin      8    9     10    11
Istanbul   12   13     14    15

In [38]:
df['two']

London       1
Paris        5
Berlin       9
Istanbul    13
Name: two, dtype: int32

In [39]:
df[['two']]

          two
London      1
Paris       5
Berlin      9
Istanbul   13

In [40]:
import pandas as pd

games = pd.read_csv(r'C:\Users\dell\Desktop\img\vgsalesGlobale.csv')

games

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Syrup - Monin - Passion Fruit,Nintendo Switch,2008,Action,Devshare,82.51,20.44,8.39,10.16,7.01
1,2,Yams,Nintendo Switch,2010,Sports,Muxo,7.43,8.40,9.66,3.07,6.33
2,3,"Pepsi, 355 Ml",PS4,1985,Sports,Eidel,17.50,17.96,7.15,4.74,5.63
3,4,Gherkin,Xbox One,2016,Action,Mynte,13.05,5.60,5.64,6.97,1.23
4,5,Pastry - French Mini Assorted,Nintendo Switch,2020,Shooter,Quinu,16.92,24.00,5.59,5.16,3.66
...,...,...,...,...,...,...,...,...,...,...,...
995,996,Shrimp - Black Tiger 16/20,Xbox One,1985,Sports,Edgewire,77.09,3.36,0.69,10.33,0.34
996,997,Muffin Mix - Morning Glory,Xbox One,2011,Shooter,Skyba,5.14,8.72,4.02,7.42,8.20
997,998,Muffin Orange Individual,PS4,1996,Action,Topicstorm,19.89,27.42,4.02,4.12,0.65
998,999,Sage - Ground,PS4,1997,Sports,Jabbertype,38.59,7.22,6.20,3.71,0.09
999,1000,Cheese - Swiss Sliced,Xbox One,1996,Action,Voonyx,58.61,21.83,5.89,2.65,0.50

In [43]:
games[['Year']]

     Year
0    2008
1    2010
2    1985
3    2016
4    2020
..    ...
995  1985
996  2011
997  1996
998  1997
999  1996

[1000 rows x 1 columns]

In [48]:
games[['Year', 'Genre']]

     Year    Genre
0    2008   Action
1    2010   Sports
2    1985   Sports
3    2016   Action
4    2020  Shooter
..    ...      ...
995  1985   Sports
996  2011  Shooter
997  1996   Action
998  1997   Sports
999  1996   Action

[1000 rows x 2 columns]

In [60]:
games[0]

KeyError: 0

In [61]:
games[0:1]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Syrup - Monin - Passion Fruit,Nintendo Switch,2008,Action,Devshare,82.51,20.44,8.39,10.16,7.01

In [62]:
games.iloc[[0]]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Syrup - Monin - Passion Fruit,Nintendo Switch,2008,Action,Devshare,82.51,20.44,8.39,10.16,7.01

In [63]:
games[0:3]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Syrup - Monin - Passion Fruit,Nintendo Switch,2008,Action,Devshare,82.51,20.44,8.39,10.16,7.01
1,2,Yams,Nintendo Switch,2010,Sports,Muxo,7.43,8.40,9.66,3.07,6.33
2,3,"Pepsi, 355 Ml",PS4,1985,Sports,Eidel,17.50,17.96,7.15,4.74,5.63

In [64]:
games

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Syrup - Monin - Passion Fruit,Nintendo Switch,2008,Action,Devshare,82.51,20.44,8.39,10.16,7.01
1,2,Yams,Nintendo Switch,2010,Sports,Muxo,7.43,8.40,9.66,3.07,6.33
2,3,"Pepsi, 355 Ml",PS4,1985,Sports,Eidel,17.50,17.96,7.15,4.74,5.63
3,4,Gherkin,Xbox One,2016,Action,Mynte,13.05,5.60,5.64,6.97,1.23
4,5,Pastry - French Mini Assorted,Nintendo Switch,2020,Shooter,Quinu,16.92,24.00,5.59,5.16,3.66
...,...,...,...,...,...,...,...,...,...,...,...
995,996,Shrimp - Black Tiger 16/20,Xbox One,1985,Sports,Edgewire,77.09,3.36,0.69,10.33,0.34
996,997,Muffin Mix - Morning Glory,Xbox One,2011,Shooter,Skyba,5.14,8.72,4.02,7.42,8.20
997,998,Muffin Orange Individual,PS4,1996,Action,Topicstorm,19.89,27.42,4.02,4.12,0.65
998,999,Sage - Ground,PS4,1997,Sports,Jabbertype,38.59,7.22,6.20,3.71,0.09
999,1000,Cheese - Swiss Sliced,Xbox One,1996,Action,Voonyx,58.61,21.83,5.89,2.65,0.50

In [69]:
games[games["Year"] > 2010]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
3,4,Gherkin,Xbox One,2016,Action,Mynte,13.05,5.60,5.64,6.97,1.23
4,5,Pastry - French Mini Assorted,Nintendo Switch,2020,Shooter,Quinu,16.92,24.00,5.59,5.16,3.66
6,7,Nantucket Pine Orangebanana,Xbox One,2017,Action,Gabcube,39.17,9.58,6.28,9.55,8.11
12,13,"Stock - Beef, Brown",Xbox One,2022,Sports,Eadel,46.26,16.75,0.51,9.12,6.96
13,14,Ice Cream - Chocolate,Nintendo Switch,2018,Shooter,Thoughtstorm,77.82,23.33,7.98,5.26,1.85
...,...,...,...,...,...,...,...,...,...,...,...
972,973,"Chocolate - Milk, Callets",Xbox One,2012,Shooter,Lazzy,59.56,2.06,9.77,4.81,4.19
975,976,Tray - 12in Rnd Blk,Xbox One,2016,Sports,Voonix,2.61,8.59,0.35,7.45,9.96
988,989,Appetizer - Asian Shrimp Roll,Xbox One,2019,Sports,Yakitri,13.43,17.80,2.04,10.34,0.66
993,994,Apple - Granny Smith,Nintendo Switch,2019,Sports,Jayo,41.31,14.54,6.93,9.64,7.96
996,997,Muffin Mix - Morning Glory,Xbox One,2011,Shooter,Skyba,5.14,8.72,4.02,7.42,8.20

In [72]:
df

          one  two  three  four
London      0    1      2     3
Paris       4    5      6     7
Berlin      8    9     10    11
Istanbul   12   13     14    15

In [73]:
df[df<5]

          one  two  three  four
London    0.0  1.0    2.0   3.0
Paris     4.0  NaN    NaN   NaN
Berlin    NaN  NaN    NaN   NaN
Istanbul  NaN  NaN    NaN   NaN

In [74]:
df[df<5] = 0

df

          one  two  three  four
London      0    0      0     0
Paris       0    5      6     7
Berlin      8    9     10    11
Istanbul   12   13     14    15

In [126]:
import pandas as pd

games = pd.read_csv(r'C:\Users\dell\Desktop\img\vgsalesGlobale.csv')

games

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Syrup - Monin - Passion Fruit,Nintendo Switch,2008,Action,Devshare,82.51,20.44,8.39,10.16,7.01
1,2,Yams,Nintendo Switch,2010,Sports,Muxo,7.43,8.40,9.66,3.07,6.33
2,3,"Pepsi, 355 Ml",PS4,1985,Sports,Eidel,17.50,17.96,7.15,4.74,5.63
3,4,Gherkin,Xbox One,2016,Action,Mynte,13.05,5.60,5.64,6.97,1.23
4,5,Pastry - French Mini Assorted,Nintendo Switch,2020,Shooter,Quinu,16.92,24.00,5.59,5.16,3.66
...,...,...,...,...,...,...,...,...,...,...,...
995,996,Shrimp - Black Tiger 16/20,Xbox One,1985,Sports,Edgewire,77.09,3.36,0.69,10.33,0.34
996,997,Muffin Mix - Morning Glory,Xbox One,2011,Shooter,Skyba,5.14,8.72,4.02,7.42,8.20
997,998,Muffin Orange Individual,PS4,1996,Action,Topicstorm,19.89,27.42,4.02,4.12,0.65
998,999,Sage - Ground,PS4,1997,Sports,Jabbertype,38.59,7.22,6.20,3.71,0.09
999,1000,Cheese - Swiss Sliced,Xbox One,1996,Action,Voonyx,58.61,21.83,5.89,2.65,0.50

In [129]:
games.iloc[0]

Rank                                        1
Name            Syrup - Monin - Passion Fruit
Platform                      Nintendo Switch
Year                                     2008
Genre                                  Action
Publisher                            Devshare
NA_Sales                                82.51
EU_Sales                                20.44
JP_Sales                                 8.39
Other_Sales                             10.16
Global_Sales                             7.01
Name: 0, dtype: object

In [130]:
games.iloc[[0]]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Syrup - Monin - Passion Fruit,Nintendo Switch,2008,Action,Devshare,82.51,20.44,8.39,10.16,7.01

In [131]:
games.iloc[0, [0, 1, 2]]

Rank                                    1
Name        Syrup - Monin - Passion Fruit
Platform                  Nintendo Switch
Name: 0, dtype: object

In [132]:
games.iloc[[0], [0, 1, 2]]

   Rank                           Name         Platform
0     1  Syrup - Monin - Passion Fruit  Nintendo Switch

In [133]:
games.iloc[[0, 5], [2, 3, 4]]

          Platform  Year   Genre
0  Nintendo Switch  2008  Action
5  Nintendo Switch  1994  Sports

In [135]:
games.iloc[0:5, [2, 3, 4]]

          Platform  Year    Genre
0  Nintendo Switch  2008   Action
1  Nintendo Switch  2010   Sports
2              PS4  1985   Sports
3         Xbox One  2016   Action
4  Nintendo Switch  2020  Shooter

In [138]:
games.iloc[0:5, 2:5]

          Platform  Year    Genre
0  Nintendo Switch  2008   Action
1  Nintendo Switch  2010   Sports
2              PS4  1985   Sports
3         Xbox One  2016   Action
4  Nintendo Switch  2020  Shooter

In [139]:
games

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Syrup - Monin - Passion Fruit,Nintendo Switch,2008,Action,Devshare,82.51,20.44,8.39,10.16,7.01
1,2,Yams,Nintendo Switch,2010,Sports,Muxo,7.43,8.40,9.66,3.07,6.33
2,3,"Pepsi, 355 Ml",PS4,1985,Sports,Eidel,17.50,17.96,7.15,4.74,5.63
3,4,Gherkin,Xbox One,2016,Action,Mynte,13.05,5.60,5.64,6.97,1.23
4,5,Pastry - French Mini Assorted,Nintendo Switch,2020,Shooter,Quinu,16.92,24.00,5.59,5.16,3.66
...,...,...,...,...,...,...,...,...,...,...,...
995,996,Shrimp - Black Tiger 16/20,Xbox One,1985,Sports,Edgewire,77.09,3.36,0.69,10.33,0.34
996,997,Muffin Mix - Morning Glory,Xbox One,2011,Shooter,Skyba,5.14,8.72,4.02,7.42,8.20
997,998,Muffin Orange Individual,PS4,1996,Action,Topicstorm,19.89,27.42,4.02,4.12,0.65
998,999,Sage - Ground,PS4,1997,Sports,Jabbertype,38.59,7.22,6.20,3.71,0.09
999,1000,Cheese - Swiss Sliced,Xbox One,1996,Action,Voonyx,58.61,21.83,5.89,2.65,0.50

In [140]:
games.loc[4]

Rank                                        5
Name            Pastry - French Mini Assorted
Platform                      Nintendo Switch
Year                                     2020
Genre                                 Shooter
Publisher                               Quinu
NA_Sales                                16.92
EU_Sales                                 24.0
JP_Sales                                 5.59
Other_Sales                              5.16
Global_Sales                             3.66
Name: 4, dtype: object

In [143]:
games.loc[[4]]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
4,5,Pastry - French Mini Assorted,Nintendo Switch,2020,Shooter,Quinu,16.92,24.0,5.59,5.16,3.66

In [153]:
games.loc[4, 'Rank']

5

In [154]:
games.loc[4, ['Rank']]

Rank    5
Name: 4, dtype: object

In [155]:
games.loc[[4], ['Rank']]

   Rank
4     5

In [157]:
games.loc[[4], ['Rank', 'Name', 'Platform']]

   Rank                           Name         Platform
4     5  Pastry - French Mini Assorted  Nintendo Switch

In [162]:
games.loc[:4, ['Rank', 'Name', 'Platform']]

   Rank                           Name         Platform
0     1  Syrup - Monin - Passion Fruit  Nintendo Switch
1     2                           Yams  Nintendo Switch
2     3                  Pepsi, 355 Ml              PS4
3     4                        Gherkin         Xbox One
4     5  Pastry - French Mini Assorted  Nintendo Switch

In [166]:
games_ = games.set_index('Genre')

games_

,Rank,Name,Platform,Year,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Genre,,,,,,,,,,
Action,1,Syrup - Monin - Passion Fruit,Nintendo Switch,2008,Devshare,82.51,20.44,8.39,10.16,7.01
Sports,2,Yams,Nintendo Switch,2010,Muxo,7.43,8.40,9.66,3.07,6.33
Sports,3,"Pepsi, 355 Ml",PS4,1985,Eidel,17.50,17.96,7.15,4.74,5.63
Action,4,Gherkin,Xbox One,2016,Mynte,13.05,5.60,5.64,6.97,1.23
Shooter,5,Pastry - French Mini Assorted,Nintendo Switch,2020,Quinu,16.92,24.00,5.59,5.16,3.66
...,...,...,...,...,...,...,...,...,...,...
Sports,996,Shrimp - Black Tiger 16/20,Xbox One,1985,Edgewire,77.09,3.36,0.69,10.33,0.34
Shooter,997,Muffin Mix - Morning Glory,Xbox One,2011,Skyba,5.14,8.72,4.02,7.42,8.20
Action,998,Muffin Orange Individual,PS4,1996,Topicstorm,19.89,27.42,4.02,4.12,0.65
Sports,999,Sage - Ground,PS4,1997,Jabbertype,38.59,7.22,6.20,3.71,0.09
Action,1000,Cheese - Swiss Sliced,Xbox One,1996,Voonyx,58.61,21.83,5.89,2.65,0.50

In [169]:
games_.iloc['Action']

TypeError: Cannot index by location index with a non-integer key

In [171]:
games_.iloc[[0]]

,Rank,Name,Platform,Year,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Genre,,,,,,,,,,
Action,1,Syrup - Monin - Passion Fruit,Nintendo Switch,2008,Devshare,82.51,20.44,8.39,10.16,7.01

In [172]:
games_.loc[0]

KeyError: 0

In [173]:
games_.loc['Action']

,Rank,Name,Platform,Year,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Genre,,,,,,,,,,
Action,1,Syrup - Monin - Passion Fruit,Nintendo Switch,2008,Devshare,82.51,20.44,8.39,10.16,7.01
Action,4,Gherkin,Xbox One,2016,Mynte,13.05,5.60,5.64,6.97,1.23
Action,7,Nantucket Pine Orangebanana,Xbox One,2017,Gabcube,39.17,9.58,6.28,9.55,8.11
Action,8,Island Oasis - Raspberry,PS4,1999,Gigashots,47.41,22.16,9.29,7.15,5.76
Action,10,Cheese - Taleggio D.o.p.,Nintendo Switch,2005,Chatterbridge,38.89,26.25,3.89,9.17,0.97
...,...,...,...,...,...,...,...,...,...,...
Action,985,Danishes - Mini Raspberry,PS4,2000,Jetpulse,12.31,19.90,0.37,8.47,4.42
Action,990,Fireball Whisky,PS4,2008,Feedfish,46.86,22.60,4.23,8.74,6.95
Action,995,Sausage - Chorizo,Xbox One,1990,Ntags,1.58,26.41,4.53,5.68,9.01
Action,998,Muffin Orange Individual,PS4,1996,Topicstorm,19.89,27.42,4.02,4.12,0.65
Action,1000,Cheese - Swiss Sliced,Xbox One,1996,Voonyx,58.61,21.83,5.89,2.65,0.50

In [177]:
games_.loc['Action', 'Name']

Genre
Action    Syrup - Monin - Passion Fruit
Action                          Gherkin
Action      Nantucket Pine Orangebanana
Action         Island Oasis - Raspberry
Action         Cheese - Taleggio D.o.p.
                      ...
Action        Danishes - Mini Raspberry
Action                  Fireball Whisky
Action                Sausage - Chorizo
Action         Muffin Orange Individual
Action            Cheese - Swiss Sliced
Name: Name, Length: 321, dtype: object

In [181]:
games_.loc['Action', ['Name']]

                                 Name
Genre
Action  Syrup - Monin - Passion Fruit
Action                        Gherkin
Action    Nantucket Pine Orangebanana
Action       Island Oasis - Raspberry
Action       Cheese - Taleggio D.o.p.
...                               ...
Action      Danishes - Mini Raspberry
Action                Fireball Whisky
Action              Sausage - Chorizo
Action       Muffin Orange Individual
Action          Cheese - Swiss Sliced

[321 rows x 1 columns]

In [182]:
games_.loc['Action', ['Name', "Year"]]

                                 Name  Year
Genre
Action  Syrup - Monin - Passion Fruit  2008
Action                        Gherkin  2016
Action    Nantucket Pine Orangebanana  2017
Action       Island Oasis - Raspberry  1999
Action       Cheese - Taleggio D.o.p.  2005
...                               ...   ...
Action      Danishes - Mini Raspberry  2000
Action                Fireball Whisky  2008
Action              Sausage - Chorizo  1990
Action       Muffin Orange Individual  1996
Action          Cheese - Swiss Sliced  1996

[321 rows x 2 columns]

In [189]:
games

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Syrup - Monin - Passion Fruit,Nintendo Switch,2008,Action,Devshare,82.51,20.44,8.39,10.16,7.01
1,2,Yams,Nintendo Switch,2010,Sports,Muxo,7.43,8.40,9.66,3.07,6.33
2,3,"Pepsi, 355 Ml",PS4,1985,Sports,Eidel,17.50,17.96,7.15,4.74,5.63
3,4,Gherkin,Xbox One,2016,Action,Mynte,13.05,5.60,5.64,6.97,1.23
4,5,Pastry - French Mini Assorted,Nintendo Switch,2020,Shooter,Quinu,16.92,24.00,5.59,5.16,3.66
...,...,...,...,...,...,...,...,...,...,...,...
995,996,Shrimp - Black Tiger 16/20,Xbox One,1985,Sports,Edgewire,77.09,3.36,0.69,10.33,0.34
996,997,Muffin Mix - Morning Glory,Xbox One,2011,Shooter,Skyba,5.14,8.72,4.02,7.42,8.20
997,998,Muffin Orange Individual,PS4,1996,Action,Topicstorm,19.89,27.42,4.02,4.12,0.65
998,999,Sage - Ground,PS4,1997,Sports,Jabbertype,38.59,7.22,6.20,3.71,0.09
999,1000,Cheese - Swiss Sliced,Xbox One,1996,Action,Voonyx,58.61,21.83,5.89,2.65,0.50

In [190]:
games['Rank']

0         1
1         2
2         3
3         4
4         5
       ...
995     996
996     997
997     998
998     999
999    1000
Name: Rank, Length: 1000, dtype: int64

In [191]:
games[['Rank']]

     Rank
0       1
1       2
2       3
3       4
4       5
..    ...
995   996
996   997
997   998
998   999
999  1000

[1000 rows x 1 columns]

In [192]:
games[['Rank', "Name", "Platform", "Year"]]

     Rank                           Name         Platform  Year
0       1  Syrup - Monin - Passion Fruit  Nintendo Switch  2008
1       2                           Yams  Nintendo Switch  2010
2       3                  Pepsi, 355 Ml              PS4  1985
3       4                        Gherkin         Xbox One  2016
4       5  Pastry - French Mini Assorted  Nintendo Switch  2020
..    ...                            ...              ...   ...
995   996     Shrimp - Black Tiger 16/20         Xbox One  1985
996   997     Muffin Mix - Morning Glory         Xbox One  2011
997   998       Muffin Orange Individual              PS4  1996
998   999                  Sage - Ground              PS4  1997
999  1000          Cheese - Swiss Sliced         Xbox One  1996

[1000 rows x 4 columns]

In [201]:
games[[5], ['Rank', "Name", "Platform", "Year"]]

InvalidIndexError: ([5], ['Rank', 'Name', 'Platform', 'Year'])

In [198]:
games.iloc[[5], ['Rank', "Name", "Platform", "Year"]]

IndexError: .iloc requires numeric indexers, got ['Rank' 'Name' 'Platform' 'Year']

In [203]:
games.loc[[5], ['Rank', "Name", "Platform", "Year"]]

   Rank                           Name         Platform  Year
5     6  Pastry - Banana Muffin - Mini  Nintendo Switch  1994

In [205]:
games.loc[0:5, ['Rank', "Name", "Platform", "Year"]]

   Rank                           Name         Platform  Year
0     1  Syrup - Monin - Passion Fruit  Nintendo Switch  2008
1     2                           Yams  Nintendo Switch  2010
2     3                  Pepsi, 355 Ml              PS4  1985
3     4                        Gherkin         Xbox One  2016
4     5  Pastry - French Mini Assorted  Nintendo Switch  2020
5     6  Pastry - Banana Muffin - Mini  Nintendo Switch  1994

In [209]:
games[:]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Syrup - Monin - Passion Fruit,Nintendo Switch,2008,Action,Devshare,82.51,20.44,8.39,10.16,7.01
1,2,Yams,Nintendo Switch,2010,Sports,Muxo,7.43,8.40,9.66,3.07,6.33
2,3,"Pepsi, 355 Ml",PS4,1985,Sports,Eidel,17.50,17.96,7.15,4.74,5.63
3,4,Gherkin,Xbox One,2016,Action,Mynte,13.05,5.60,5.64,6.97,1.23
4,5,Pastry - French Mini Assorted,Nintendo Switch,2020,Shooter,Quinu,16.92,24.00,5.59,5.16,3.66
...,...,...,...,...,...,...,...,...,...,...,...
995,996,Shrimp - Black Tiger 16/20,Xbox One,1985,Sports,Edgewire,77.09,3.36,0.69,10.33,0.34
996,997,Muffin Mix - Morning Glory,Xbox One,2011,Shooter,Skyba,5.14,8.72,4.02,7.42,8.20
997,998,Muffin Orange Individual,PS4,1996,Action,Topicstorm,19.89,27.42,4.02,4.12,0.65
998,999,Sage - Ground,PS4,1997,Sports,Jabbertype,38.59,7.22,6.20,3.71,0.09
999,1000,Cheese - Swiss Sliced,Xbox One,1996,Action,Voonyx,58.61,21.83,5.89,2.65,0.50

In [212]:
games.iloc[:]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Syrup - Monin - Passion Fruit,Nintendo Switch,2008,Action,Devshare,82.51,20.44,8.39,10.16,7.01
1,2,Yams,Nintendo Switch,2010,Sports,Muxo,7.43,8.40,9.66,3.07,6.33
2,3,"Pepsi, 355 Ml",PS4,1985,Sports,Eidel,17.50,17.96,7.15,4.74,5.63
3,4,Gherkin,Xbox One,2016,Action,Mynte,13.05,5.60,5.64,6.97,1.23
4,5,Pastry - French Mini Assorted,Nintendo Switch,2020,Shooter,Quinu,16.92,24.00,5.59,5.16,3.66
...,...,...,...,...,...,...,...,...,...,...,...
995,996,Shrimp - Black Tiger 16/20,Xbox One,1985,Sports,Edgewire,77.09,3.36,0.69,10.33,0.34
996,997,Muffin Mix - Morning Glory,Xbox One,2011,Shooter,Skyba,5.14,8.72,4.02,7.42,8.20
997,998,Muffin Orange Individual,PS4,1996,Action,Topicstorm,19.89,27.42,4.02,4.12,0.65
998,999,Sage - Ground,PS4,1997,Sports,Jabbertype,38.59,7.22,6.20,3.71,0.09
999,1000,Cheese - Swiss Sliced,Xbox One,1996,Action,Voonyx,58.61,21.83,5.89,2.65,0.50

In [213]:
games.loc[:]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Syrup - Monin - Passion Fruit,Nintendo Switch,2008,Action,Devshare,82.51,20.44,8.39,10.16,7.01
1,2,Yams,Nintendo Switch,2010,Sports,Muxo,7.43,8.40,9.66,3.07,6.33
2,3,"Pepsi, 355 Ml",PS4,1985,Sports,Eidel,17.50,17.96,7.15,4.74,5.63
3,4,Gherkin,Xbox One,2016,Action,Mynte,13.05,5.60,5.64,6.97,1.23
4,5,Pastry - French Mini Assorted,Nintendo Switch,2020,Shooter,Quinu,16.92,24.00,5.59,5.16,3.66
...,...,...,...,...,...,...,...,...,...,...,...
995,996,Shrimp - Black Tiger 16/20,Xbox One,1985,Sports,Edgewire,77.09,3.36,0.69,10.33,0.34
996,997,Muffin Mix - Morning Glory,Xbox One,2011,Shooter,Skyba,5.14,8.72,4.02,7.42,8.20
997,998,Muffin Orange Individual,PS4,1996,Action,Topicstorm,19.89,27.42,4.02,4.12,0.65
998,999,Sage - Ground,PS4,1997,Sports,Jabbertype,38.59,7.22,6.20,3.71,0.09
999,1000,Cheese - Swiss Sliced,Xbox One,1996,Action,Voonyx,58.61,21.83,5.89,2.65,0.50

In [216]:
games[['Rank', "Name", 'Year']]

     Rank                           Name  Year
0       1  Syrup - Monin - Passion Fruit  2008
1       2                           Yams  2010
2       3                  Pepsi, 355 Ml  1985
3       4                        Gherkin  2016
4       5  Pastry - French Mini Assorted  2020
..    ...                            ...   ...
995   996     Shrimp - Black Tiger 16/20  1985
996   997     Muffin Mix - Morning Glory  2011
997   998       Muffin Orange Individual  1996
998   999                  Sage - Ground  1997
999  1000          Cheese - Swiss Sliced  1996

[1000 rows x 3 columns]

In [218]:
games.loc[:, ['Rank', "Name", 'Year']]

     Rank                           Name  Year
0       1  Syrup - Monin - Passion Fruit  2008
1       2                           Yams  2010
2       3                  Pepsi, 355 Ml  1985
3       4                        Gherkin  2016
4       5  Pastry - French Mini Assorted  2020
..    ...                            ...   ...
995   996     Shrimp - Black Tiger 16/20  1985
996   997     Muffin Mix - Morning Glory  2011
997   998       Muffin Orange Individual  1996
998   999                  Sage - Ground  1997
999  1000          Cheese - Swiss Sliced  1996

[1000 rows x 3 columns]

In [220]:
games.loc[0:4, :]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Syrup - Monin - Passion Fruit,Nintendo Switch,2008,Action,Devshare,82.51,20.44,8.39,10.16,7.01
1,2,Yams,Nintendo Switch,2010,Sports,Muxo,7.43,8.40,9.66,3.07,6.33
2,3,"Pepsi, 355 Ml",PS4,1985,Sports,Eidel,17.50,17.96,7.15,4.74,5.63
3,4,Gherkin,Xbox One,2016,Action,Mynte,13.05,5.60,5.64,6.97,1.23
4,5,Pastry - French Mini Assorted,Nintendo Switch,2020,Shooter,Quinu,16.92,24.00,5.59,5.16,3.66

In [225]:
games.loc[0:4]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Syrup - Monin - Passion Fruit,Nintendo Switch,2008,Action,Devshare,82.51,20.44,8.39,10.16,7.01
1,2,Yams,Nintendo Switch,2010,Sports,Muxo,7.43,8.40,9.66,3.07,6.33
2,3,"Pepsi, 355 Ml",PS4,1985,Sports,Eidel,17.50,17.96,7.15,4.74,5.63
3,4,Gherkin,Xbox One,2016,Action,Mynte,13.05,5.60,5.64,6.97,1.23
4,5,Pastry - French Mini Assorted,Nintendo Switch,2020,Shooter,Quinu,16.92,24.00,5.59,5.16,3.66

In [227]:
games.loc[[8, 10], ["Name", "Year"]]

                            Name  Year
8                  Nori Sea Weed  1988
10  Soup - Clam Chowder, Dry Mix  2005

In [229]:
games_

,Rank,Name,Platform,Year,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Genre,,,,,,,,,,
Action,1,Syrup - Monin - Passion Fruit,Nintendo Switch,2008,Devshare,82.51,20.44,8.39,10.16,7.01
Sports,2,Yams,Nintendo Switch,2010,Muxo,7.43,8.40,9.66,3.07,6.33
Sports,3,"Pepsi, 355 Ml",PS4,1985,Eidel,17.50,17.96,7.15,4.74,5.63
Action,4,Gherkin,Xbox One,2016,Mynte,13.05,5.60,5.64,6.97,1.23
Shooter,5,Pastry - French Mini Assorted,Nintendo Switch,2020,Quinu,16.92,24.00,5.59,5.16,3.66
...,...,...,...,...,...,...,...,...,...,...
Sports,996,Shrimp - Black Tiger 16/20,Xbox One,1985,Edgewire,77.09,3.36,0.69,10.33,0.34
Shooter,997,Muffin Mix - Morning Glory,Xbox One,2011,Skyba,5.14,8.72,4.02,7.42,8.20
Action,998,Muffin Orange Individual,PS4,1996,Topicstorm,19.89,27.42,4.02,4.12,0.65
Sports,999,Sage - Ground,PS4,1997,Jabbertype,38.59,7.22,6.20,3.71,0.09
Action,1000,Cheese - Swiss Sliced,Xbox One,1996,Voonyx,58.61,21.83,5.89,2.65,0.50

In [230]:
games_.loc[["Sports"], ['Name', "Year"]]

                                 Name  Year
Genre
Sports                           Yams  2010
Sports                  Pepsi, 355 Ml  1985
Sports  Pastry - Banana Muffin - Mini  1994
Sports                  Nori Sea Weed  1988
Sports            Stock - Beef, Brown  2022
...                               ...   ...
Sports   Lettuce - Mini Greens, Whole  1985
Sports   Wine - Barbera Alba Doc 2001  2001
Sports           Apple - Granny Smith  2019
Sports     Shrimp - Black Tiger 16/20  1985
Sports                  Sage - Ground  1997

[336 rows x 2 columns]

In [231]:
games_.loc[['Action', "Sports"], ['Name', "Year"]]

                                 Name  Year
Genre
Action  Syrup - Monin - Passion Fruit  2008
Action                        Gherkin  2016
Action    Nantucket Pine Orangebanana  2017
Action       Island Oasis - Raspberry  1999
Action       Cheese - Taleggio D.o.p.  2005
...                               ...   ...
Sports   Lettuce - Mini Greens, Whole  1985
Sports   Wine - Barbera Alba Doc 2001  2001
Sports           Apple - Granny Smith  2019
Sports     Shrimp - Black Tiger 16/20  1985
Sports                  Sage - Ground  1997

[657 rows x 2 columns]

In [236]:
games_.loc['Action', 'Name':"Year"]

                                 Name         Platform  Year
Genre
Action  Syrup - Monin - Passion Fruit  Nintendo Switch  2008
Action                        Gherkin         Xbox One  2016
Action    Nantucket Pine Orangebanana         Xbox One  2017
Action       Island Oasis - Raspberry              PS4  1999
Action       Cheese - Taleggio D.o.p.  Nintendo Switch  2005
...                               ...              ...   ...
Action      Danishes - Mini Raspberry              PS4  2000
Action                Fireball Whisky              PS4  2008
Action              Sausage - Chorizo         Xbox One  1990
Action       Muffin Orange Individual              PS4  1996
Action          Cheese - Swiss Sliced         Xbox One  1996

[321 rows x 3 columns]

In [241]:
data=pd.Series(np.arange(5))
data

0    0
1    1
2    2
3    3
4    4
dtype: int32

In [242]:
data[-1]

KeyError: -1

In [243]:
data=pd.Series(np.arange(5),
                   index=["a","b","c",
                          "d","e"])
data

a    0
b    1
c    2
d    3
e    4
dtype: int32

In [244]:
data[-1]

4

In [245]:
games

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Syrup - Monin - Passion Fruit,Nintendo Switch,2008,Action,Devshare,82.51,20.44,8.39,10.16,7.01
1,2,Yams,Nintendo Switch,2010,Sports,Muxo,7.43,8.40,9.66,3.07,6.33
2,3,"Pepsi, 355 Ml",PS4,1985,Sports,Eidel,17.50,17.96,7.15,4.74,5.63
3,4,Gherkin,Xbox One,2016,Action,Mynte,13.05,5.60,5.64,6.97,1.23
4,5,Pastry - French Mini Assorted,Nintendo Switch,2020,Shooter,Quinu,16.92,24.00,5.59,5.16,3.66
...,...,...,...,...,...,...,...,...,...,...,...
995,996,Shrimp - Black Tiger 16/20,Xbox One,1985,Sports,Edgewire,77.09,3.36,0.69,10.33,0.34
996,997,Muffin Mix - Morning Glory,Xbox One,2011,Shooter,Skyba,5.14,8.72,4.02,7.42,8.20
997,998,Muffin Orange Individual,PS4,1996,Action,Topicstorm,19.89,27.42,4.02,4.12,0.65
998,999,Sage - Ground,PS4,1997,Sports,Jabbertype,38.59,7.22,6.20,3.71,0.09
999,1000,Cheese - Swiss Sliced,Xbox One,1996,Action,Voonyx,58.61,21.83,5.89,2.65,0.50

In [246]:
games[-1]

KeyError: -1

In [247]:
games_

,Rank,Name,Platform,Year,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Genre,,,,,,,,,,
Action,1,Syrup - Monin - Passion Fruit,Nintendo Switch,2008,Devshare,82.51,20.44,8.39,10.16,7.01
Sports,2,Yams,Nintendo Switch,2010,Muxo,7.43,8.40,9.66,3.07,6.33
Sports,3,"Pepsi, 355 Ml",PS4,1985,Eidel,17.50,17.96,7.15,4.74,5.63
Action,4,Gherkin,Xbox One,2016,Mynte,13.05,5.60,5.64,6.97,1.23
Shooter,5,Pastry - French Mini Assorted,Nintendo Switch,2020,Quinu,16.92,24.00,5.59,5.16,3.66
...,...,...,...,...,...,...,...,...,...,...
Sports,996,Shrimp - Black Tiger 16/20,Xbox One,1985,Edgewire,77.09,3.36,0.69,10.33,0.34
Shooter,997,Muffin Mix - Morning Glory,Xbox One,2011,Skyba,5.14,8.72,4.02,7.42,8.20
Action,998,Muffin Orange Individual,PS4,1996,Topicstorm,19.89,27.42,4.02,4.12,0.65
Sports,999,Sage - Ground,PS4,1997,Jabbertype,38.59,7.22,6.20,3.71,0.09
Action,1000,Cheese - Swiss Sliced,Xbox One,1996,Voonyx,58.61,21.83,5.89,2.65,0.50

In [248]:
games_[-1]

KeyError: -1

In [259]:
games_1 = games.copy()

games_1

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Syrup - Monin - Passion Fruit,Nintendo Switch,2008,Action,Devshare,82.51,20.44,8.39,10.16,7.01
1,2,Yams,Nintendo Switch,2010,Sports,Muxo,7.43,8.40,9.66,3.07,6.33
2,3,"Pepsi, 355 Ml",PS4,1985,Sports,Eidel,17.50,17.96,7.15,4.74,5.63
3,4,Gherkin,Xbox One,2016,Action,Mynte,13.05,5.60,5.64,6.97,1.23
4,5,Pastry - French Mini Assorted,Nintendo Switch,2020,Shooter,Quinu,16.92,24.00,5.59,5.16,3.66
...,...,...,...,...,...,...,...,...,...,...,...
995,996,Shrimp - Black Tiger 16/20,Xbox One,1985,Sports,Edgewire,77.09,3.36,0.69,10.33,0.34
996,997,Muffin Mix - Morning Glory,Xbox One,2011,Shooter,Skyba,5.14,8.72,4.02,7.42,8.20
997,998,Muffin Orange Individual,PS4,1996,Action,Topicstorm,19.89,27.42,4.02,4.12,0.65
998,999,Sage - Ground,PS4,1997,Sports,Jabbertype,38.59,7.22,6.20,3.71,0.09
999,1000,Cheese - Swiss Sliced,Xbox One,1996,Action,Voonyx,58.61,21.83,5.89,2.65,0.50

In [261]:
games_1.index = range(1, 1001)

games_1

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
1,1,Syrup - Monin - Passion Fruit,Nintendo Switch,2008,Action,Devshare,82.51,20.44,8.39,10.16,7.01
2,2,Yams,Nintendo Switch,2010,Sports,Muxo,7.43,8.40,9.66,3.07,6.33
3,3,"Pepsi, 355 Ml",PS4,1985,Sports,Eidel,17.50,17.96,7.15,4.74,5.63
4,4,Gherkin,Xbox One,2016,Action,Mynte,13.05,5.60,5.64,6.97,1.23
5,5,Pastry - French Mini Assorted,Nintendo Switch,2020,Shooter,Quinu,16.92,24.00,5.59,5.16,3.66
...,...,...,...,...,...,...,...,...,...,...,...
996,996,Shrimp - Black Tiger 16/20,Xbox One,1985,Sports,Edgewire,77.09,3.36,0.69,10.33,0.34
997,997,Muffin Mix - Morning Glory,Xbox One,2011,Shooter,Skyba,5.14,8.72,4.02,7.42,8.20
998,998,Muffin Orange Individual,PS4,1996,Action,Topicstorm,19.89,27.42,4.02,4.12,0.65
999,999,Sage - Ground,PS4,1997,Sports,Jabbertype,38.59,7.22,6.20,3.71,0.09
1000,1000,Cheese - Swiss Sliced,Xbox One,1996,Action,Voonyx,58.61,21.83,5.89,2.65,0.50

In [262]:
games_1[-1]

KeyError: -1

In [265]:
import string as str_
str_.ascii_uppercase

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [283]:
np.random.seed(4)
indx = np.random.choice(list(str_.ascii_uppercase), (1000))
indx

array(['O', 'X', 'F', 'B', 'I', 'X', 'I', 'S', 'J', 'H', 'N', 'X', 'X',
       'Z', 'I', 'E', 'S', 'M', 'G', 'K', 'U', 'D', 'A', 'X', 'V', 'V',
       'J', 'G', 'G', 'Y', 'C', 'O', 'V', 'I', 'R', 'C', 'X', 'A', 'I',
       'T', 'K', 'N', 'B', 'A', 'N', 'D', 'S', 'T', 'P', 'C', 'Z', 'S',
       'R', 'Q', 'R', 'Z', 'J', 'Q', 'M', 'X', 'S', 'W', 'D', 'L', 'X',
       'Y', 'S', 'G', 'H', 'N', 'K', 'H', 'J', 'S', 'X', 'V', 'T', 'Q',
       'V', 'P', 'E', 'L', 'T', 'I', 'Z', 'F', 'I', 'W', 'H', 'A', 'E',
       'W', 'L', 'I', 'E', 'I', 'R', 'O', 'J', 'V', 'E', 'S', 'D', 'E',
       'H', 'W', 'G', 'I', 'A', 'D', 'L', 'V', 'W', 'M', 'K', 'R', 'B',
       'L', 'W', 'P', 'N', 'A', 'K', 'I', 'X', 'V', 'H', 'G', 'P', 'I',
       'U', 'U', 'A', 'X', 'S', 'B', 'O', 'K', 'Y', 'Y', 'R', 'D', 'B',
       'D', 'W', 'X', 'K', 'U', 'Q', 'H', 'T', 'K', 'H', 'J', 'W', 'W',
       'P', 'J', 'D', 'K', 'C', 'X', 'G', 'H', 'J', 'U', 'L', 'T', 'A',
       'F', 'A', 'Z', 'F', 'H', 'F', 'J', 'K', 'Y', 'S', 'E', 'C', 'T',
       'Q', 'D', 'W', 'Z', 'M', 'Q', 'T', 'M', 'M', 'U', 'I', 'G', 'P',
       'T', 'H', 'T', 'Z', 'N', 'R', 'E', 'I', 'D', 'M', 'A', 'S', 'U',
       'O', 'G', 'R', 'Z', 'Q', 'Z', 'D', 'R', 'S', 'P', 'P', 'D', 'C',
       'Z', 'M', 'M', 'V', 'C', 'X', 'P', 'J', 'V', 'W', 'O', 'F', 'J',
       'P', 'Z', 'W', 'I', 'M', 'V', 'L', 'U', 'U', 'W', 'C', 'S', 'B',
       'T', 'X', 'U', 'Q', 'M', 'V', 'X', 'T', 'I', 'F', 'O', 'K', 'N',
       'J', 'R', 'F', 'E', 'T', 'Z', 'P', 'F', 'W', 'W', 'R', 'Q', 'F',
       'C', 'A', 'F', 'I', 'F', 'H', 'I', 'K', 'J', 'Z', 'Q', 'T', 'H',
       'P', 'Q', 'U', 'H', 'H', 'L', 'U', 'R', 'D', 'Q', 'H', 'M', 'X',
       'F', 'B', 'F', 'T', 'M', 'Z', 'D', 'P', 'Q', 'J', 'O', 'X', 'W',
       'R', 'H', 'P', 'Z', 'W', 'O', 'D', 'H', 'C', 'H', 'I', 'L', 'J',
       'O', 'R', 'C', 'J', 'Q', 'W', 'Y', 'V', 'X', 'F', 'I', 'B', 'C',
       'D', 'Q', 'V', 'V', 'W', 'G', 'N', 'A', 'Z', 'F', 'V', 'T', 'V',
       'K', 'J', 'M', 'B', 'B', 'J', 'K', 'I', 'R', 'P', 'J', 'B', 'A',
       'L', 'W', 'Q', 'Q', 'S', 'Y', 'P', 'M', 'J', 'Q', 'S', 'J', 'K',
       'B', 'F', 'M', 'N', 'T', 'F', 'X', 'M', 'K', 'D', 'L', 'W', 'Z',
       'V', 'L', 'Y', 'N', 'D', 'G', 'K', 'K', 'U', 'E', 'C', 'I', 'F',
       'H', 'G', 'M', 'C', 'I', 'U', 'C', 'G', 'R', 'Q', 'U', 'Z', 'A',
       'H', 'Z', 'Q', 'S', 'T', 'N', 'Q', 'A', 'B', 'N', 'X', 'Y', 'S',
       'M', 'Y', 'T', 'W', 'E', 'J', 'J', 'Y', 'O', 'Q', 'N', 'K', 'I',
       'U', 'B', 'V', 'L', 'V', 'D', 'P', 'R', 'S', 'M', 'Z', 'D', 'L',
       'B', 'T', 'F', 'B', 'X', 'U', 'X', 'Y', 'F', 'N', 'B', 'Y', 'W',
       'O', 'Q', 'F', 'T', 'R', 'I', 'A', 'N', 'V', 'L', 'J', 'J', 'E',
       'J', 'G', 'V', 'E', 'J', 'I', 'T', 'X', 'E', 'A', 'A', 'H', 'X',
       'O', 'Q', 'N', 'K', 'O', 'A', 'A', 'M', 'V', 'X', 'G', 'N', 'H',
       'G', 'J', 'F', 'C', 'N', 'O', 'O', 'Y', 'E', 'H', 'F', 'V', 'T',
       'S', 'N', 'O', 'C', 'E', 'J', 'K', 'X', 'L', 'M', 'N', 'A', 'P',
       'N', 'R', 'N', 'B', 'Z', 'M', 'T', 'S', 'N', 'B', 'I', 'E', 'E',
       'G', 'Z', 'S', 'P', 'Q', 'I', 'Y', 'O', 'B', 'V', 'W', 'C', 'U',
       'Q', 'O', 'H', 'X', 'Z', 'P', 'A', 'X', 'M', 'O', 'Z', 'R', 'J',
       'V', 'L', 'D', 'A', 'S', 'T', 'T', 'Q', 'N', 'C', 'F', 'N', 'O',
       'M', 'B', 'P', 'J', 'I', 'Q', 'X', 'R', 'L', 'E', 'Y', 'C', 'X',
       'X', 'N', 'F', 'H', 'P', 'V', 'G', 'K', 'Y', 'L', 'Q', 'H', 'D',
       'U', 'A', 'O', 'K', 'K', 'N', 'P', 'Q', 'R', 'A', 'O', 'E', 'D',
       'T', 'D', 'Y', 'E', 'P', 'P', 'S', 'I', 'U', 'F', 'E', 'K', 'F',
       'J', 'L', 'R', 'N', 'F', 'K', 'Y', 'F', 'R', 'W', 'J', 'L', 'J',
       'U', 'W', 'S', 'T', 'H', 'X', 'W', 'N', 'Z', 'G', 'K', 'J', 'S',
       'O', 'Z', 'O', 'K', 'B', 'L', 'P', 'D', 'H', 'O', 'M', 'H', 'R',
       'W', 'P', 'Q', 'P', 'A', 'K', 'N', 'K', 'H', 'Y', 'U', 'M', 'Q',
       'H', 'L', 'M', 'H', 'Z', 'A', 'I', 'U', 'H', 'Q', 'N', 'Z', 'G',
       'W', 'Y', 'H', 'U', 'D', 'F', 'M', 'S', 'Z', 'V', 'O', 'I', 'R',
       'G', 'H', 'D', 'H', 'Y', 'L', 'A', 'Q', 'A', 'D', 'P', 'H', 'Q',
       'H', 'A', 'V', 'P', 'Q', 'Q', 'V', 'G', 'F', 'P', 'S', 'B', 'A',
       'W', 'U', 'D', 'Q', 'W', 'W', 'S', 'O', 'X', 'Z', 'C', 'Y', 'W',
       'J', 'S', 'X', 'F', 'Y', 'Y', 'I', 'L', 'V', 'H', 'W', 'E', 'B',
       'H', 'E', 'F', 'J', 'H', 'D', 'F', 'T', 'H', 'G', 'I', 'S', 'A',
       'O', 'I', 'M', 'V', 'K', 'V', 'N', 'P', 'B', 'Y', 'H', 'V', 'N',
       'A', 'T', 'Q', 'J', 'G', 'J', 'W', 'N', 'P', 'G', 'S', 'I', 'H',
       'I', 'M', 'J', 'Q', 'D', 'I', 'R', 'H', 'K', 'Y', 'S', 'Z', 'X',
       'Q', 'Q', 'L', 'F', 'X', 'C', 'B', 'X', 'Q', 'K', 'V', 'P', 'Z',
       'A', 'L', 'N', 'O', 'H', 'Z', 'V', 'A', 'P', 'S', 'W', 'L', 'B',
       'I', 'I', 'U', 'R', 'R', 'C', 'U', 'T', 'H', 'R', 'C', 'E', 'F',
       'E', 'L', 'U', 'Z', 'F', 'Y', 'B', 'M', 'B', 'P', 'E', 'I', 'N',
       'O', 'N', 'B', 'O', 'J', 'U', 'P', 'E', 'H', 'R', 'U', 'J', 'C',
       'G', 'X', 'T', 'H', 'E', 'E', 'I', 'I', 'K', 'Z', 'G', 'O', 'L',
       'O', 'S', 'V', 'Q', 'A', 'F', 'V', 'L', 'O', 'N', 'W', 'X', 'S',
       'C', 'O', 'O', 'T', 'R', 'U', 'K', 'H', 'X', 'C', 'F', 'Z', 'U',
       'S', 'N', 'K', 'W', 'Q', 'P', 'B', 'S', 'N', 'G', 'M', 'G', 'W',
       'V', 'W', 'B', 'P', 'V', 'V', 'U', 'T', 'J', 'L', 'E', 'N', 'O',
       'A', 'F', 'G', 'B', 'J', 'Y', 'F', 'Q', 'K', 'V', 'J', 'L', 'S',
       'C', 'F', 'P', 'R', 'J', 'Q', 'K', 'E', 'C', 'H', 'D', 'L', 'P',
       'O', 'D', 'K', 'S', 'K', 'D', 'K', 'D', 'Z', 'X', 'J', 'Z', 'N',
       'K', 'H', 'I', 'H', 'D', 'A', 'R', 'H', 'L', 'Q', 'K', 'U'],
      dtype='<U1')

In [284]:
games_1.index = indx

games_1

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
O,1,Syrup - Monin - Passion Fruit,Nintendo Switch,2008,Action,Devshare,82.51,20.44,8.39,10.16,7.01
X,2,Yams,Nintendo Switch,2010,Sports,Muxo,7.43,8.40,9.66,3.07,6.33
F,3,"Pepsi, 355 Ml",PS4,1985,Sports,Eidel,17.50,17.96,7.15,4.74,5.63
B,4,Gherkin,Xbox One,2016,Action,Mynte,13.05,5.60,5.64,6.97,1.23
I,5,Pastry - French Mini Assorted,Nintendo Switch,2020,Shooter,Quinu,16.92,24.00,5.59,5.16,3.66
...,...,...,...,...,...,...,...,...,...,...,...
H,996,Shrimp - Black Tiger 16/20,Xbox One,1985,Sports,Edgewire,77.09,3.36,0.69,10.33,0.34
L,997,Muffin Mix - Morning Glory,Xbox One,2011,Shooter,Skyba,5.14,8.72,4.02,7.42,8.20
Q,998,Muffin Orange Individual,PS4,1996,Action,Topicstorm,19.89,27.42,4.02,4.12,0.65
K,999,Sage - Ground,PS4,1997,Sports,Jabbertype,38.59,7.22,6.20,3.71,0.09
U,1000,Cheese - Swiss Sliced,Xbox One,1996,Action,Voonyx,58.61,21.83,5.89,2.65,0.50

In [285]:
games_1[-1]

KeyError: -1

In [286]:
games

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Syrup - Monin - Passion Fruit,Nintendo Switch,2008,Action,Devshare,82.51,20.44,8.39,10.16,7.01
1,2,Yams,Nintendo Switch,2010,Sports,Muxo,7.43,8.40,9.66,3.07,6.33
2,3,"Pepsi, 355 Ml",PS4,1985,Sports,Eidel,17.50,17.96,7.15,4.74,5.63
3,4,Gherkin,Xbox One,2016,Action,Mynte,13.05,5.60,5.64,6.97,1.23
4,5,Pastry - French Mini Assorted,Nintendo Switch,2020,Shooter,Quinu,16.92,24.00,5.59,5.16,3.66
...,...,...,...,...,...,...,...,...,...,...,...
995,996,Shrimp - Black Tiger 16/20,Xbox One,1985,Sports,Edgewire,77.09,3.36,0.69,10.33,0.34
996,997,Muffin Mix - Morning Glory,Xbox One,2011,Shooter,Skyba,5.14,8.72,4.02,7.42,8.20
997,998,Muffin Orange Individual,PS4,1996,Action,Topicstorm,19.89,27.42,4.02,4.12,0.65
998,999,Sage - Ground,PS4,1997,Sports,Jabbertype,38.59,7.22,6.20,3.71,0.09
999,1000,Cheese - Swiss Sliced,Xbox One,1996,Action,Voonyx,58.61,21.83,5.89,2.65,0.50

In [288]:
games[["Name"]]

                              Name
0    Syrup - Monin - Passion Fruit
1                             Yams
2                    Pepsi, 355 Ml
3                          Gherkin
4    Pastry - French Mini Assorted
..                             ...
995     Shrimp - Black Tiger 16/20
996     Muffin Mix - Morning Glory
997       Muffin Orange Individual
998                  Sage - Ground
999          Cheese - Swiss Sliced

[1000 rows x 1 columns]

In [289]:
games["Name"][-1]

KeyError: -1

In [293]:
games_1

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
O,1,Syrup - Monin - Passion Fruit,Nintendo Switch,2008,Action,Devshare,82.51,20.44,8.39,10.16,7.01
X,2,Yams,Nintendo Switch,2010,Sports,Muxo,7.43,8.40,9.66,3.07,6.33
F,3,"Pepsi, 355 Ml",PS4,1985,Sports,Eidel,17.50,17.96,7.15,4.74,5.63
B,4,Gherkin,Xbox One,2016,Action,Mynte,13.05,5.60,5.64,6.97,1.23
I,5,Pastry - French Mini Assorted,Nintendo Switch,2020,Shooter,Quinu,16.92,24.00,5.59,5.16,3.66
...,...,...,...,...,...,...,...,...,...,...,...
H,996,Shrimp - Black Tiger 16/20,Xbox One,1985,Sports,Edgewire,77.09,3.36,0.69,10.33,0.34
L,997,Muffin Mix - Morning Glory,Xbox One,2011,Shooter,Skyba,5.14,8.72,4.02,7.42,8.20
Q,998,Muffin Orange Individual,PS4,1996,Action,Topicstorm,19.89,27.42,4.02,4.12,0.65
K,999,Sage - Ground,PS4,1997,Sports,Jabbertype,38.59,7.22,6.20,3.71,0.09
U,1000,Cheese - Swiss Sliced,Xbox One,1996,Action,Voonyx,58.61,21.83,5.89,2.65,0.50

In [295]:
games_1["Name"][-1]

'Cheese - Swiss Sliced'