In [4]:
import pandas as pd

film = pd.read_csv("http://bit.ly/imdbratings")

film.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [9]:
film['title'].head()

0    The Shawshank Redemption
1               The Godfather
2      The Godfather: Part II
3             The Dark Knight
4                Pulp Fiction
Name: title, dtype: object

In [10]:
film[['title']].head()

                      title
0  The Shawshank Redemption
1             The Godfather
2    The Godfather: Part II
3           The Dark Knight
4              Pulp Fiction

In [11]:
film[['title', 'genre']].head()

                      title   genre
0  The Shawshank Redemption   Crime
1             The Godfather   Crime
2    The Godfather: Part II   Crime
3           The Dark Knight  Action
4              Pulp Fiction   Crime

In [38]:
film.loc[0]

star_rating                                                     9.3
title                                      The Shawshank Redemption
content_rating                                                    R
genre                                                         Crime
duration                                                        142
actors_list       [u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...
Name: 0, dtype: object

In [39]:
film.loc[[0]]

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."

In [41]:
film.loc[[0, 1, 3]]

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."

In [42]:
film.loc[0:5]

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
5,8.9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals..."

In [43]:
film.loc[0:5, 'title']

0    The Shawshank Redemption
1               The Godfather
2      The Godfather: Part II
3             The Dark Knight
4                Pulp Fiction
5                12 Angry Men
Name: title, dtype: object

In [54]:
film.loc[0:5, 'title':'title']

                      title
0  The Shawshank Redemption
1             The Godfather
2    The Godfather: Part II
3           The Dark Knight
4              Pulp Fiction
5              12 Angry Men

In [55]:
film.loc[0:5, ['title']]

                      title
0  The Shawshank Redemption
1             The Godfather
2    The Godfather: Part II
3           The Dark Knight
4              Pulp Fiction
5              12 Angry Men

In [56]:
film.loc[5, ['title']]

title    12 Angry Men
Name: 5, dtype: object

In [57]:
film.loc[[5], ['title']]

          title
5  12 Angry Men

In [58]:
film.loc[0:5, ['title', 'genre']]

                      title   genre
0  The Shawshank Redemption   Crime
1             The Godfather   Crime
2    The Godfather: Part II   Crime
3           The Dark Knight  Action
4              Pulp Fiction   Crime
5              12 Angry Men   Drama

In [59]:
film.loc[0:5, 'title': 'genre']

                      title content_rating   genre
0  The Shawshank Redemption              R   Crime
1             The Godfather              R   Crime
2    The Godfather: Part II              R   Crime
3           The Dark Knight          PG-13  Action
4              Pulp Fiction              R   Crime
5              12 Angry Men      NOT RATED   Drama

In [61]:
film.loc[:, ['genre']]

         genre
0        Crime
1        Crime
2        Crime
3       Action
4        Crime
..         ...
974     Comedy
975  Adventure
976     Action
977     Horror
978      Crime

[979 rows x 1 columns]

In [62]:
film.loc[:, 'title':'genre']

                                               title content_rating      genre
0                           The Shawshank Redemption              R      Crime
1                                      The Godfather              R      Crime
2                             The Godfather: Part II              R      Crime
3                                    The Dark Knight          PG-13     Action
4                                       Pulp Fiction              R      Crime
..                                               ...            ...        ...
974                                          Tootsie             PG     Comedy
975                      Back to the Future Part III             PG  Adventure
976  Master and Commander: The Far Side of the World          PG-13     Action
977                                      Poltergeist             PG     Horror
978                                      Wall Street              R      Crime

[979 rows x 3 columns]

In [63]:
film

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
...,...,...,...,...,...,...
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [64]:
film[film.genre=="Crime"]

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
21,8.7,City of God,R,Crime,130,"[u'Alexandre Rodrigues', u'Matheus Nachtergael..."
...,...,...,...,...,...,...
927,7.5,Brick,R,Crime,110,"[u'Joseph Gordon-Levitt', u'Lukas Haas', u'Emi..."
931,7.4,Mean Streets,R,Crime,112,"[u'Robert De Niro', u'Harvey Keitel', u'David ..."
950,7.4,Bound,R,Crime,108,"[u'Jennifer Tilly', u'Gina Gershon', u'Joe Pan..."
969,7.4,Law Abiding Citizen,R,Crime,109,"[u'Gerard Butler', u'Jamie Foxx', u'Leslie Bibb']"
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [73]:
film[film.genre=="Crime", 'star_rating']

InvalidIndexError: (0       True
1       True
2       True
3      False
4       True
       ...
974    False
975    False
976    False
977    False
978     True
Name: genre, Length: 979, dtype: bool, 'star_rating')

In [65]:
film.loc[film.genre=="Crime"]

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
21,8.7,City of God,R,Crime,130,"[u'Alexandre Rodrigues', u'Matheus Nachtergael..."
...,...,...,...,...,...,...
927,7.5,Brick,R,Crime,110,"[u'Joseph Gordon-Levitt', u'Lukas Haas', u'Emi..."
931,7.4,Mean Streets,R,Crime,112,"[u'Robert De Niro', u'Harvey Keitel', u'David ..."
950,7.4,Bound,R,Crime,108,"[u'Jennifer Tilly', u'Gina Gershon', u'Joe Pan..."
969,7.4,Law Abiding Citizen,R,Crime,109,"[u'Gerard Butler', u'Jamie Foxx', u'Leslie Bibb']"
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [72]:
film.loc[film.genre=="Crime", 'star_rating']

0      9.3
1      9.2
2      9.1
4      8.9
21     8.7
      ...
927    7.5
931    7.4
950    7.4
969    7.4
978    7.4
Name: star_rating, Length: 124, dtype: float64

In [68]:
film.loc[film.genre=="Crime", ['star_rating']]

     star_rating
0            9.3
1            9.2
2            9.1
4            8.9
21           8.7
..           ...
927          7.5
931          7.4
950          7.4
969          7.4
978          7.4

[124 rows x 1 columns]

In [70]:
film.loc[film.genre=="Crime", ['star_rating', 'title', 'duration']]

     star_rating                     title  duration
0            9.3  The Shawshank Redemption       142
1            9.2             The Godfather       175
2            9.1    The Godfather: Part II       200
4            8.9              Pulp Fiction       154
21           8.7               City of God       130
..           ...                       ...       ...
927          7.5                     Brick       110
931          7.4              Mean Streets       112
950          7.4                     Bound       108
969          7.4       Law Abiding Citizen       109
978          7.4               Wall Street       126

[124 rows x 3 columns]

In [79]:
film.loc[film.genre.str.lower()=="crime", ['star_rating', 'title', 'duration', 'genre']]

     star_rating                     title  duration  genre
0            9.3  The Shawshank Redemption       142  Crime
1            9.2             The Godfather       175  Crime
2            9.1    The Godfather: Part II       200  Crime
4            8.9              Pulp Fiction       154  Crime
21           8.7               City of God       130  Crime
..           ...                       ...       ...    ...
927          7.5                     Brick       110  Crime
931          7.4              Mean Streets       112  Crime
950          7.4                     Bound       108  Crime
969          7.4       Law Abiding Citizen       109  Crime
978          7.4               Wall Street       126  Crime

[124 rows x 4 columns]

In [81]:
film.loc[film.title=="Pulp Fiction", ['star_rating', 'title', 'duration', 'genre']]

   star_rating         title  duration  genre
4          8.9  Pulp Fiction       154  Crime

In [82]:
film.loc[film.title=="fiction", ['star_rating', 'title', 'duration', 'genre']]

Empty DataFrame
Columns: [star_rating, title, duration, genre]
Index: []

In [84]:
film.loc[film.title.str.contains("fiction", case=False), ['star_rating', 'title', 'duration', 'genre']]

     star_rating                  title  duration   genre
4            8.9           Pulp Fiction       154   Crime
696          7.7  Stranger Than Fiction       113  Comedy

In [87]:
film.loc[film['title'].str.lower().str.replace(' ', '') == 'pulpfiction', ['star_rating', 'title', 'duration', 'genre']]

   star_rating         title  duration  genre
4          8.9  Pulp Fiction       154  Crime

In [89]:
film.loc[film.loc[:, 'title'].str.contains('fiction', case=False), ['star_rating', 'title', 'duration', 'genre']]

     star_rating                  title  duration   genre
4            8.9           Pulp Fiction       154   Crime
696          7.7  Stranger Than Fiction       113  Comedy

In [91]:
film.title

0                             The Shawshank Redemption
1                                        The Godfather
2                               The Godfather: Part II
3                                      The Dark Knight
4                                         Pulp Fiction
                            ...
974                                            Tootsie
975                        Back to the Future Part III
976    Master and Commander: The Far Side of the World
977                                        Poltergeist
978                                        Wall Street
Name: title, Length: 979, dtype: object

In [92]:
film['title']

0                             The Shawshank Redemption
1                                        The Godfather
2                               The Godfather: Part II
3                                      The Dark Knight
4                                         Pulp Fiction
                            ...
974                                            Tootsie
975                        Back to the Future Part III
976    Master and Commander: The Far Side of the World
977                                        Poltergeist
978                                        Wall Street
Name: title, Length: 979, dtype: object

In [93]:
film.loc[:, 'title']

0                             The Shawshank Redemption
1                                        The Godfather
2                               The Godfather: Part II
3                                      The Dark Knight
4                                         Pulp Fiction
                            ...
974                                            Tootsie
975                        Back to the Future Part III
976    Master and Commander: The Far Side of the World
977                                        Poltergeist
978                                        Wall Street
Name: title, Length: 979, dtype: object

In [98]:
film.loc[film.genre=="Crime", "title":"duration"]

                        title content_rating  genre  duration
0    The Shawshank Redemption              R  Crime       142
1               The Godfather              R  Crime       175
2      The Godfather: Part II              R  Crime       200
4                Pulp Fiction              R  Crime       154
21                City of God              R  Crime       130
..                        ...            ...    ...       ...
927                     Brick              R  Crime       110
931              Mean Streets              R  Crime       112
950                     Bound              R  Crime       108
969       Law Abiding Citizen              R  Crime       109
978               Wall Street              R  Crime       126

[124 rows x 4 columns]

In [99]:
film

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
...,...,...,...,...,...,...
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [107]:
( (film.star_rating >= 6) | (film.star_rating <= 9) ) & (film.genre == 'Action')

0      False
1      False
2      False
3       True
4      False
       ...
974    False
975    False
976     True
977    False
978    False
Length: 979, dtype: bool

In [108]:
film.loc[( (film.star_rating >= 6) | (film.star_rating <= 9) ) & (film.genre == 'Action')]

,star_rating,title,content_rating,genre,duration,actors_list
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
11,8.8,Inception,PG-13,Action,148,"[u'Leonardo DiCaprio', u'Joseph Gordon-Levitt'..."
12,8.8,Star Wars: Episode V - The Empire Strikes Back,PG,Action,124,"[u'Mark Hamill', u'Harrison Ford', u'Carrie Fi..."
19,8.7,Star Wars,PG,Action,121,"[u'Mark Hamill', u'Harrison Ford', u'Carrie Fi..."
20,8.7,The Matrix,R,Action,136,"[u'Keanu Reeves', u'Laurence Fishburne', u'Car..."
...,...,...,...,...,...,...
918,7.5,Running Scared,R,Action,122,"[u'Paul Walker', u'Cameron Bright', u'Chazz Pa..."
954,7.4,X-Men,PG-13,Action,104,"[u'Patrick Stewart', u'Hugh Jackman', u'Ian Mc..."
963,7.4,La Femme Nikita,R,Action,118,"[u'Anne Parillaud', u'Marc Duret', u'Patrick F..."
967,7.4,The Rock,R,Action,136,"[u'Sean Connery', u'Nicolas Cage', u'Ed Harris']"
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."

In [113]:
film.loc[( (film.star_rating >= 6) | (film.star_rating <= 9) ) & (film.genre == 'Action'), ['star_rating', "genre"]]

     star_rating   genre
3            9.0  Action
11           8.8  Action
12           8.8  Action
19           8.7  Action
20           8.7  Action
..           ...     ...
918          7.5  Action
954          7.4  Action
963          7.4  Action
967          7.4  Action
976          7.4  Action

[136 rows x 2 columns]

In [125]:
film.loc[~( ( (film.star_rating >= 6) | (film.star_rating <= 9) ) & (film.genre == 'Action') ), ['star_rating', "genre"]]

     star_rating      genre
0            9.3      Crime
1            9.2      Crime
2            9.1      Crime
4            8.9      Crime
5            8.9      Drama
..           ...        ...
973          7.4      Drama
974          7.4     Comedy
975          7.4  Adventure
977          7.4     Horror
978          7.4      Crime

[843 rows x 2 columns]

In [126]:
film.iloc[0]

star_rating                                                     9.3
title                                      The Shawshank Redemption
content_rating                                                    R
genre                                                         Crime
duration                                                        142
actors_list       [u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...
Name: 0, dtype: object

In [127]:
film.iloc[[0]]

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."

In [134]:
film.iloc[0:6]

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
5,8.9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals..."

In [135]:
film.iloc[0:6, 0]

0    9.3
1    9.2
2    9.1
3    9.0
4    8.9
5    8.9
Name: star_rating, dtype: float64

In [136]:
film.iloc[:, 0]

0      9.3
1      9.2
2      9.1
3      9.0
4      8.9
      ...
974    7.4
975    7.4
976    7.4
977    7.4
978    7.4
Name: star_rating, Length: 979, dtype: float64

In [137]:
film.columns

Index(['star_rating', 'title', 'content_rating', 'genre', 'duration',
       'actors_list'],
      dtype='object')

In [140]:
film.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [142]:
film.iloc[[2, 4], [2, 3]]

  content_rating  genre
2              R  Crime
4              R  Crime

In [143]:
film.iloc[:, [2, 3]]

    content_rating      genre
0                R      Crime
1                R      Crime
2                R      Crime
3            PG-13     Action
4                R      Crime
..             ...        ...
974             PG     Comedy
975             PG  Adventure
976          PG-13     Action
977             PG     Horror
978              R      Crime

[979 rows x 2 columns]

In [149]:
film

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
...,...,...,...,...,...,...
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [150]:
film.iloc[:, 0:5]

,star_rating,title,content_rating,genre,duration
0,9.3,The Shawshank Redemption,R,Crime,142
1,9.2,The Godfather,R,Crime,175
2,9.1,The Godfather: Part II,R,Crime,200
3,9.0,The Dark Knight,PG-13,Action,152
4,8.9,Pulp Fiction,R,Crime,154
...,...,...,...,...,...
974,7.4,Tootsie,PG,Comedy,116
975,7.4,Back to the Future Part III,PG,Adventure,118
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138
977,7.4,Poltergeist,PG,Horror,114
978,7.4,Wall Street,R,Crime,126

In [153]:
film.iloc[0, 0:5]

star_rating                            9.3
title             The Shawshank Redemption
content_rating                           R
genre                                Crime
duration                               142
Name: 0, dtype: object

In [154]:
film.iloc[[0], 0:5]

   star_rating                     title content_rating  genre  duration
0          9.3  The Shawshank Redemption              R  Crime       142

In [156]:
film.iloc[0:3, 0:3]

   star_rating                     title content_rating
0          9.3  The Shawshank Redemption              R
1          9.2             The Godfather              R
2          9.1    The Godfather: Part II              R

In [159]:
film.iloc[[0, 1, 4]]

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [160]:
film.iloc[[0, 1, 4], :]

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [161]:
film

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
...,...,...,...,...,...,...
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [163]:
film[(film.duration >= 200) & (film.genre == "Crime")]

,star_rating,title,content_rating,genre,duration,actors_list
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
78,8.4,Once Upon a Time in America,R,Crime,229,"[u'Robert De Niro', u'James Woods', u'Elizabet..."

In [164]:
film[(film.duration >= 200) | (film.genre == "Crime")]

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."
...,...,...,...,...,...,...
927,7.5,Brick,R,Crime,110,"[u'Joseph Gordon-Levitt', u'Lukas Haas', u'Emi..."
931,7.4,Mean Streets,R,Crime,112,"[u'Robert De Niro', u'Harvey Keitel', u'David ..."
950,7.4,Bound,R,Crime,108,"[u'Jennifer Tilly', u'Gina Gershon', u'Joe Pan..."
969,7.4,Law Abiding Citizen,R,Crime,109,"[u'Gerard Butler', u'Jamie Foxx', u'Leslie Bibb']"
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [165]:
film[(film.duration >= 200) | 
     (film.genre == "Crime") |
     (film.genre=="Action")]

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
...,...,...,...,...,...,...
963,7.4,La Femme Nikita,R,Action,118,"[u'Anne Parillaud', u'Marc Duret', u'Patrick F..."
967,7.4,The Rock,R,Action,136,"[u'Sean Connery', u'Nicolas Cage', u'Ed Harris']"
969,7.4,Law Abiding Citizen,R,Crime,109,"[u'Gerard Butler', u'Jamie Foxx', u'Leslie Bibb']"
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [166]:
film.genre.isin(['Action', "Crime", "Drama"])

0       True
1       True
2       True
3       True
4       True
       ...
974    False
975    False
976     True
977    False
978     True
Name: genre, Length: 979, dtype: bool

In [167]:
film[film.genre.isin(['Action', "Crime", "Drama"])]

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
...,...,...,...,...,...,...
970,7.4,Wonder Boys,R,Drama,107,"[u'Michael Douglas', u'Tobey Maguire', u'Franc..."
972,7.4,Blue Valentine,NC-17,Drama,112,"[u'Ryan Gosling', u'Michelle Williams', u'John..."
973,7.4,The Cider House Rules,PG-13,Drama,126,"[u'Tobey Maguire', u'Charlize Theron', u'Micha..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [169]:
film.loc[film.genre.isin(['Action', "Crime", "Drama"]), ["title", "duration", 'genre']]

                                               title  duration   genre
0                           The Shawshank Redemption       142   Crime
1                                      The Godfather       175   Crime
2                             The Godfather: Part II       200   Crime
3                                    The Dark Knight       152  Action
4                                       Pulp Fiction       154   Crime
..                                               ...       ...     ...
970                                      Wonder Boys       107   Drama
972                                   Blue Valentine       112   Drama
973                            The Cider House Rules       126   Drama
976  Master and Commander: The Far Side of the World       138  Action
978                                      Wall Street       126   Crime

[538 rows x 3 columns]

In [173]:
film.loc[film.loc[:, 'star_rating'].isin([8.9, 9]), ['star_rating', 'title']]

   star_rating                                          title
3          9.0                                The Dark Knight
4          8.9                                   Pulp Fiction
5          8.9                                   12 Angry Men
6          8.9                 The Good, the Bad and the Ugly
7          8.9  The Lord of the Rings: The Return of the King
8          8.9                               Schindler's List
9          8.9                                     Fight Club